---
export interface Props {
  title: string;
  img: string;
  description: string;
  gitUrl?: string;
  url?: string;
  tags?: string[];
  dateStart?: Date;
  dateEnd?: Date;
}

const {
  title,
  img = "/post_img.webp",
  description,
  gitUrl,
  url,
  tags = [],
  dateStart,
  dateEnd,
} = Astro.props;
---

<div
  class="card card-compact lg:card-side bg-base-100 shadow-xl border border-base-300"
>
  <figure class="basis-1/2">
    {
      url ? (
        <a href={url}>
          <img src={img} alt={title} class="h-full" />
        </a>
      ) : (
        <img src={img} alt={title} class="h-full" />
      )
    }
  </figure>
  <div class="basis-1/2 card-body">
    <h2 class="card-title">{title}</h2>
    <p>{description}</p>
    <div class="card-actions flex-col">
      <div>
        {
          dateStart && dateEnd ? (
            <span class="badge badge-ghost">
              {dateStart.toLocaleDateString()} - {dateEnd.toLocaleDateString()}
            </span>
          ) : dateStart ? (
            <span class="badge badge-ghost">
              {dateStart.toLocaleDateString()}
            </span>
          ) : (
            <div />
          )
        }
      </div>
      <div class="flex flex-row space-x-2">
        {gitUrl ? <a href={gitUrl}>Github Repository</a> : <div />}
        {url ? <a href={url}>Demo</a> : <div />}
      </div>
      <div class="flex flex-row flex-wrap">
        {
          tags.map((tag: string) => (
            <div class="badge badge-outline m-1 p-3">
              <a href={"#" + tag}>{tag}</a>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>

<style>
  a {
    @apply !link font-bold !link-primary;
  }
</style>
