---
import ProjectCard from "./small/ProjectCard.astro";
import minesweeper from "../assets/proj_pics/3dMinesweeper.webp";
import LyricalBomb from "../assets/proj_pics/LyricalBomb.webp";
import OldWebsite from "../assets/proj_pics/OldWebsite.webp";
import Website2 from "../assets/proj_pics/Website2.webp";
import Website3 from "../assets/proj_pics/Website3.webp";
import GimmeApp from "../assets/proj_pics/GimmeApp.webp";
---

<div class="flex flex-col space-y-6">
  <h1>My personal projects</h1>
  <ProjectCard
    title="Gimme App"
    description=" A full stack Marketplace made with Spring around a typical MVC architecture. Allows users to post items to give, chat and purchase them from a front-end or an API."
    img={GimmeApp}
    tags={["Java", "SpringBoot", "Gradle", "Docker"]}
    gitUrl="https://github.com/Eliaz-LR/Gimme-App"
    dateStart={new Date(2024, 9, 24)}
    dateEnd={new Date(2024, 11, 15)}
  />
  <ProjectCard
    title="Portfolio Website 3.0 (this one)"
    description="Rewrite with Astro of my previous website (which was using Vue.js). I talk more in detail about this in an article ;)"
    img={Website3}
    tags={["TypeScript", "HTML", "Astro", "TailwindCSS", "DaisyUI", "Vue.js"]}
    gitUrl="https://github.com/Eliaz-LR/portfolio-v3"
    url="https://eliaz-lr.dev/"
    dateStart={new Date(2023, 5, 28)}
  />
  <ProjectCard
    title="Lyrical Bomb"
    description="A lobby based multiplayer game where players have to guess songs that contain a given word in their lyrics. It utilizes Socket.io and the Genius API."
    img={LyricalBomb}
    tags={[
      "React",
      "JavaScript",
      "TypeScript",
      "HTML",
      "TailwindCSS",
      "Express.js",
      "Fly.io",
      "Node.js",
    ]}
    gitUrl="https://github.com/Eliaz-LR/Lyrical-Bomb"
    dateStart={new Date(2023, 3, 20)}
    dateEnd={new Date(2023, 5, 4)}
  />
  <ProjectCard
    title="Portfolio Website 2.0"
    description="This is my second portfolio website. I wanted to make it more user friendly than the first one."
    img={Website2}
    tags={["Vue.js", "JavaScript", "HTML", "TailwindCSS"]}
    gitUrl="https://github.com/Eliaz-LR/Personal-website-v2"
    url="https://portfolio2.eliaz-lr.dev/"
    dateStart={new Date(2022, 7, 24)}
    dateEnd={new Date(2022, 8, 20)}
  />
  <ProjectCard
    title="3D Minesweeper"
    description="A minesweeper game in 3D and first person view with an online leaderboard."
    img={minesweeper}
    tags={["Unity", "C#", "Firebase"]}
    gitUrl="https://github.com/Eliaz-LR/3D-Minesweeper"
    url="https://play.unity.com/mg/other/webgl-build-482"
    dateStart={new Date(2022, 1, 28)}
    dateEnd={new Date(2022, 3, 18)}
  />
  <ProjectCard
    title="Portfolio Website 1.0"
    description="This was my first project with Javascript. It emulates the feel of a command line interface."
    img={OldWebsite}
    tags={["JavaScript", "HTML", "TailwindCSS"]}
    gitUrl="https://github.com/Eliaz-LR/Personnal-JS-Site"
    url="https://old.eliaz-lr.dev/"
    dateStart={new Date(2020, 12, 8)}
    dateEnd={new Date(2022, 1, 20)}
  />
</div>
