---
import BaseLayout from "./BaseLayout.astro";
import type { BlogSchema } from "../content/config";

export interface Props extends BlogSchema {}

const { title, description, pubDate, updatedDate, tags } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <main>
    <article class="prose prose-lg lg:prose-xl">
      <h1 transition:name={title}>{title}</h1>
      <p class="text-gray-500">
        {
          pubDate.toLocaleDateString("en-UK", {
            day: "numeric",
            month: "long",
            year: "numeric",
          })
        }
        {
          updatedDate &&
            ", Updated on " +
              updatedDate.toLocaleDateString("en-UK", {
                day: "numeric",
                month: "long",
                year: "numeric",
              })
        }
      </p>
      {
        tags && (
          <p class="text-gray-500">
            {tags.map((tag) => (
              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">
                {tag}
              </span>
            ))}
          </p>
        )
      }
      <hr />
      <slot />
    </article>
  </main>
</BaseLayout>
